.compare {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  min-height: 100vh;
}

.compareActions {
  padding: 5px 0;
  margin: 15px;
  display: flex;
  gap: 20px;
}

.compareActions > button {
  color: dodgerblue;
  display: flex;
  align-self: start;
  gap: 6px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.compare_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 40px 0;
}

.wrapper_childe {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.wrapper_childe img {
  width: 100px;
}

.wrapper_childe button {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(196, 0, 39);
  background: rgb(196, 0, 39);
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.wrapper_childe button:hover {
  border: 1px solid rgb(196, 0, 39);
  background: #fff;
  color: rgb(196, 0, 39);
}
