.heart {
  width: 100%;
  height: 78.2vh;
  display: flex;
  flex-direction: column;
  padding: 0 2%;
}

.heart h1 {
  font-size: 32px;
  font-weight: 600;
}

.heart_child {
  flex: 1;
  display: flex;

  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 70px 0;
}

.heart-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.heart-main img {
  width: 170px;
}

.heart-main h2 {
  font-size: 32px;
  font-weight: 600;
}