.singlePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main .main_p svg {
  color: red;
  font-size: 20px;
}

.main_child {
  display: flex;
  gap: 20px;
}

.main_child p {
  display: flex;
  gap: 15px;

}

.single_left {
  width: 496.2px;
  height: 610px;
  display: flex;
  flex-direction: column;

}

.single_left img {
  width: 466.4px;
  height: 466.4px;
}

.single-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.product-info {
  width: 496.2px;
  height: 669px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.details_row {
  width: 100%;
  height: 75px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.details_row div {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.details_row div button {
  width: 85px;
  height: 40px;
  color: #000;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: sans-serif;
  border: 2px solid #000;
  outline: none;
  border-radius: 10px;
}

.details_colors {
  width: 100%;
  height: 124px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details_colors-img {
  width: 85px;
  height: 89px;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 4px;
}

.details_colors div {
  width: 100%;
  height: 89px;
  display: flex;
  gap: 20px;
}

.product-box {
  display: flex;
  width: 100%;
  height: 20px;
  margin-top: 15px;
  gap: 10px;
}

.product-box div {
  width: 297.71px;
  height: 20px;
  display: flex;
  gap: 10px;
}

.product-child {
  flex: 1;

  border-bottom: 2px dotted #000;

}

.product-widger {
  width: 387.6px;
  height: 456.8px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pro-price {
  font-style: 22px;
  font-family: sans-serif;
}

.widget-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.text-not {
  width: 100%;
  height: 47.2px;
  border-bottom: 1px solid #ddd;
}

.item-green {
  width: 100%;
  height: 47.2px;
  background: rgb(18, 191, 108);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.item-click {
  width: 100%;
  height: 47.2px;
  background: #fff;
  color: #000;
  outline: none;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 18px;
}

.product-pricing {
  width: 387.6px;
  height: 871.6px;
  display: flex;
  flex-direction: column;
}

.olcha-widget {
  padding: 24px;
  width: 100%;
  height: 284px;
  margin: 30px 0 0 0;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.widget-title {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.olcha-widget h2 {
  color: rgb(218, 0, 43);
  font-size: 20px;
  font-family: sans-serif;
}

.olcha-widget img {
  width: 107.26px;
  height: 55px;
  border: 1px solid rgb(232, 232, 232);
  padding: 10px;
  border-radius: 10px;
}

.xbox {
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.olcha-widget button {
  padding: 17px 125px;
  background: rgb(196, 0, 39);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
}